<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estoque de Produtos</h1>
    <table>
        <tr th:each="produtos: ${produto}">
            <td th:text="${produtos.codigo}"></td>
            <td th:text="${produtos.nome}"></td>
            <td th:text="${produtos.valor}"></td>
            <td th:text="${produtos.estoque}"></td>
        </tr>
    </table>
    
</body>